#benefits {
    text-align: left;
}

.columns {
    padding-top: 4rem;
}

ul {
    list-style-type: none;
}

@media (max-width: 769px) {
    #problems-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
