.strip-one-title {
    font-size: 5rem;
    color: black;
    text-align: center;
    font-weight: bolder;
}

.strip-one-body {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}
