@import "../../../styles/bul-styles.scss";

#logo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-left: 1.5rem;
    flex-wrap: wrap;
    text-decoration: none;
    img {
        width: 50px;
    }
    &.small {
        font-size: 24px;
        img {
            width: 34px;
            margin-left: 10px;
        }
    }
}

.navbar-burger {
    height: 4.5rem;
    width: 4.5rem;
}

@media only screen and (max-width: $tablet) {
    #logo {
        margin-left: 0;
    }
}
