.football-hero {
    padding-top: 10%;
}

.football-break {
    width: 100%;
}

.football-hero-body {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}

.football-title {
    // color: black;
    text-align: center;
    // font-weight: bolder;
}

.football-sub-title {
    text-align: center;
    font-weight: normal;
    margin: auto;
}

.football-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.football-fan-wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
