.hero {
    padding-top: 15%;
}

.break {
    width: 100%;
}

.hero-body {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}

.title {
    // color: black;
    text-align: center;
    // font-weight: bolder;
}

.sub-title {
    text-align: center;
    font-weight: normal;
    margin: auto;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.fan-wrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
