#ent-closing-text {
    text-align: center;
    margin: auto;
    padding:2rem;
}

.button-wrapper-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
