@charset "utf-8";

// If need, change your variables before importing Bulma
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
$family-monospace: Menlo, Courier, monospace;
$primary: #4865ff;
$white: #fff;
$black: #000000;
$error: #ff000057;
$solidError: #ff0000;
$lightGrey: #dadada;
$success: #00d1b2;
$lowOpacityGrey: rgba($lightGrey, 0.25);
$grey: darken($lightGrey, 20);

$body-color: $black;

$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$widescreen: 1216px;
$fullhd: 1408px;

$size-1: 5rem;
$title-size: $size-1;

@import "~bulma/bulma.sass";
