#problems {
    text-align: left;
    margin-top: 5rem;
}
#problems ul {
    list-style-type: none;
    font-size: 2rem;
    font-weight: normal;
    color: black;
}

#problems li{
    padding: 1rem;
}

#tweetdeck-img {
    padding-top: 5rem;
}


@media (max-width: 769px) {
    .columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
