#company li,
#how-to li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: small;
}

#company h6,
#how-to h6 {
    color: white;
}

#footer-logo {
    height: 10rem;
}

#social li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: normal;
}

#social li a {
    color: white;
}

.footer {
    background-color: #4865ff;
    color: white;
    margin-top: 10%;
    padding-bottom: 25px;
}

#footer-content {
    padding-top: 0;
}
