#company li,
#how-to li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#company h6,
#how-to h6 {
    color: white;
}

#footer-logo {
    height: 12rem;
}

.footer {
    background-color: #4865ff;
    color: white;
}
