#closing-text {
    text-align: left;
}

.button-wrapper-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

@media (max-width: 769px) {
    #closing-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
