// Remove old home prefix to reapply as main page styles

.old-home-hero {
    padding-top: 10%;
}

.old-home-break {
    width: 100%;
}

.old-home-hero-body {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}

.old-home-title {
    // color: black;
    text-align: center;
    // font-weight: bolder;
}

.old-home-sub-title {
    text-align: center;
    font-weight: normal;
    margin: auto;
}

.old-home-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
